# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

dotNetFx45_Full_setup.exe
SqlLocalDB.MSI

Views/Setup/AwardLetter.cshtml
Views/Setup/EventNotification.cshtml
Properties/AssemblyInfo.cs
App_Data/CampusLogic.mdf
App_Data/CampusLogic_log.ldf
./bin/CampusLogicEvents.Web.dll.config
*.bat
$tf