<div class="modal-header"><h4>{{modalType}} Endpoint</h4></div>
<div class="modal-body">
    <form>
        <div class="row padding-bottom-ten">
            <div class="col-md-4 text-right">
                <label class="control-label">Endpoint</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="endpoint" name="endpoint" ng-model="modelCopy.endpoint" required />
            </div>
        </div>
        <div class="row padding-bottom-ten">
            <div class="col-md-4 text-right">
                <label class="control-label">Method</label>
            </div>
            <div class="col-md-8">
                <select id="method" required kendo-drop-down-list class="form-control input-lg height-100" name="method" ng-model="model.method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </div>
        </div>
        <div class="row padding-top-twenty padding-bottom-ten text-center">
            <div class="col-md-12">
                <label class="control-label">Parameters Mapping</label>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label">Name</label>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Event Data</label>
                </div>
            </div>
        </div>
        <!-- need a repeater -->
        <div class="row padding-bottom-ten">
            <div class="col-md-5">
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <i class="fa fa-arrows-h icon-fixed-width"></i>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="button" id="button-field-search-cancel" class="btn btn-default" value="Cancel" ng-click="$dismiss()" />
    <input type="button" id="button-field-search-save" class="btn btn-primary" value="Save" ng-click="save()" />
</div>
