@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<div>
    <h2>
        <b>API Integration Settings</b>
    </h2>
    <section>
        This step will allow you to configure API Integration options.
    </section>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <h3><b>API Integrations</b></h3>
        </div>
        <div class="col-md-12 padding-bottom-ten">
            <!-- table here -->
            <div class="row padding-top-ten">
                <div class="col-md-12">
                    <button class="btn btn-default" ng-click="addApiIntegration()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><b>Endpoints</b></h3>
        </div>
        <div class="col-md-12 padding-bottom-ten">
            <!-- table here -->
            <div class="row padding-top-ten">
                <div class="col-md-12">
                    <button class="btn btn-default" ng-click="addEndpoint()">Add</button>
                </div>
            </div>
        </div>
    </div>


</div>
