@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<form class="form-horizontal" name="awardLetterPrintForm">
    <h2>
        <b>AwardLetter - Print</b>
    </h2>
    <section>
        This section will allow you to configure the folder path where your Award Letter PDFs will be delivered. For more information, please click <a href="#" target="_blank">Award Letter Print</a>.
    </section>
    <hr>

    <div class="row">
        <div class="col-md-3">
            <label><span class="form-required" aria-hidden="true">* </span>Upload Path</label>
        </div>
        <div class="col-md-7">
            <cl-folder-picker isrequired="true" formvalid="validationService.pageValidations.awardLetterPrintValid" uploadpath="vm.service.configurationModel.campusLogicSection.awardLetterPrintSettings.awardLetterPrintFilePath"></cl-folder-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="printNameFormat"><span aria-hidden="true"></span>File Name Format</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="printNameFormat" name="printNameFormat" ng-model="vm.service.configurationModel.campusLogicSection.awardLetterPrintSettings.awardLetterPrintFileName" />
        </div>
    </div>
</form>

