@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}

<form class="form-horizontal" name="credentialsForm">
    <h2><b>API Credentials</b></h2>
    <section>
        This step will allow you to set and test the API credentials that were set up in PlatformManagement.
        For assistance with creating your credentials in PlatformManagement, please click<a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000778275-credentials-management" target="_blank">API Credentials Help.</a>
    </section>
    <hr>
    <div class="padding-top-ten">
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="form-required" aria-hidden="true">*</span> Username</label>
            <div class="col-md-4">
                <input id="usernameInput" name="username" class="form-control" ng-model="vm.appSettings.apiUsername" required ng-change="vm.credentialsChange()" />
            </div>
            <span class="field-validation-error" ng-show="(credentialsForm.username.$error.required && credentialsForm.username.$dirty) || (!vm.validationservice.pageValidations.apiCredentialsValid && (vm.appSettings.apiUsername === '' || !vm.appSettings.apiUsername)) ">Required</span>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="form-required" aria-hidden="true">*</span> Password</label>
            <div class="col-md-4">
                <input id="passwordInput" name="password" type="password" class="form-control" ng-model="vm.appSettings.apiPassword" required ng-change="vm.credentialsChange()" />
            </div>
            <span class="field-validation-error" ng-show="(credentialsForm.password.$error.required && credentialsForm.password.$dirty) || (!vm.validationservice.pageValidations.apiCredentialsValid && (vm.appSettings.apiPassword === '' || !vm.appSettings.apiPassword)) ">Required</span>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="pull-right">
                    <span class="alert alert-success" role="alert" ng-show="vm.validationservice.pageValidations.apiCredentialsValid && vm.validationservice.pageValidations.apiCredentialsTested">Connection Successful</span>
                    <span class="alert alert-danger" role="alert" ng-show="!vm.validationservice.pageValidations.apiCredentialsValid && vm.validationservice.pageValidations.apiCredentialsTested">Invalid Credentials</span>
                    <button id="testCredentialsButton" type="submit" class="btn btn-default btn-lg" ng-click="vm.testApiCredentials(credentialsForm)">Test</button>
                </div>
            </div>
        </div>
    </div>
</form>

