@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<form class="form-horizontal" name="dataFileUploadForm" novalidate>
    <h2>
        <b>DataFile Upload</b>
    </h2>
    <section>
        This step will allow you to select the configurations for the Data File Upload process.
        If the file path you wish to use is not available for selection, you may also enter the path below.
        For assistance in giving appropriate file path permissions, please click <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000701741" target="_blank">File Path Permissions.</a>
        <!--For further detail on the Data File Upload section please click <a href="https://www.google.com/" target="_blank">Data File Upload Details.</a>-->
    </section>
    <hr>
    <div class="col-md-12 padding-top-ten">
        <div class="col-md-5">
            <div class="form-group">
                <label class="col-md-5 control-label"><span class="form-required" aria-hidden="true">* </span>Upload Frequency</label>
                <div class="col-md-7 no-gutter">
                    <select required kendo-drop-down-list class="form-control input-lg height-100" name="uploadFrequencyType" ng-model="vm.service.configurationModel.campusLogicSection.dataFileUploadSettings.dataFileUploadFrequencyType">
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="minutes">Minutely</option>
                        <option value="hourly">Hourly</option>
                    </select>
                </div>
            </div>
            <div class="form-group padding-top-one-hundred">
                <label class="col-md-5 control-label"><span class="form-required" aria-hidden="true">* </span>Days to Run</label>
                <div class="col-md-7 no-gutter">
                    <select kendo-multi-select k-options="vm.daysToRunOptions" k-ng-model="vm.service.configurationModel.campusLogicSection.dataFileUploadSettings.dataFileUploadDaysToRun"></select>
                    <span class="field-validation-error" ng-show="vm.service.configurationModel.campusLogicSection.dataFileUploadSettings.dataFileUploadDaysToRun.length <= 0">Required</span>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>Upload Path</label>
                <cl-folder-picker isrequired="true" formvalid="validationService.pageValidations.dataFileUploadValid" uploadpath="vm.service.configurationModel.campusLogicSection.dataFileUploadSettings.dataFileUploadFilePath"></cl-folder-picker>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>Archive Path</label>
                <cl-folder-picker isrequired="true" formvalid="validationService.pageValidations.dataFileUploadValid" uploadpath="vm.service.configurationModel.campusLogicSection.dataFileUploadSettings.dataFileArchiveFilePath"></cl-folder-picker>
            </div>
        </div>
    </div>
</form>

