@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<form name="vm.documentForm">
    <h2>
        <b>Document Form</b>
    </h2>
    <section>
        This step will allow you to configure Document Imaging options.
        If the path you wish to use is not available for selection, you may also enter the path below. For additional information, please click <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000701741" target="_blank">File Path Permissions.</a>
        For addional help on this page please see <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000707060-document-settings/" target="_blank">Document Settings Help.</a>
    </section>
    <hr>
    <div class="row padding-bottom-ten">
        <div class="col-md-8">
            <div class="form-group">
                <label>Document Storage File Path</label>
                <cl-folder-picker isrequired="vm.service.configurationModel.campusLogicSection.documentSettings.indexFileEnabled" formvalid="validationService.pageValidations.documentSettingsValid" uploadpath="vm.service.configurationModel.campusLogicSection.documentSettings.documentStorageFilePath"></cl-folder-picker>
            </div>
        </div>
    </div>
    <div class="row padding-bottom-ten">
        <div class="col-md-5">
            <label class="control-label">Index File Enabled</label><br />
            <input type="radio" ng-value="true" ng-model="vm.service.configurationModel.campusLogicSection.documentSettings.indexFileEnabled" style="width: 20px">True
            <input type="radio" ng-value="false" ng-model="vm.service.configurationModel.campusLogicSection.documentSettings.indexFileEnabled" style="width: 20px">False
        </div>
    </div>
    <div ng-if="vm.service.configurationModel.campusLogicSection.documentSettings.indexFileEnabled">
        <div class="row padding-bottom-ten">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="fileDefinitionName">*File Definition Name</label>
                    <input type="text" class="form-control" id="fileDefinitionName" name="fileDefinitionName" ng-model="vm.service.configurationModel.campusLogicSection.documentSettings.fileDefinitionName" required />
                    <span class="field-validation-error" ng-show="(vm.documentForm.fileDefinitionName.$dirty || vm.documentSettingsValid == false) && vm.documentForm.fileDefinitionName.$error.required">Required</span>
                </div>
            </div>
        </div>
    </div>
</form>
