@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}

<h2>
    <b>Document Imports</b>
</h2>
<p>
    This step will allow you to select the configurations for the Document Import process.
    If the file path you wish to use is not available for selection, you may also enter the path below.
    For assistance in giving appropriate file path permissions, please click <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000701741" target="_blank">File Path Permissions.</a>
    For further detail on the Document Import section please click <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000710793-testing-doc-imports/" target="_blank">Document Import Details.</a>
</p>
<hr />
<form class="padding-top-ten" novalidate="" name="vm.form">
    <div class="row">
        <div class="col-md-7 form-group">
            <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>Import Frequency</label>
            <div class="col-md-7 no-gutter">
                <select required 
                        kendo-drop-down-list
                        class="form-control input-lg height-100"
                        ng-model="vm.settings.frequency"
                        style="margin-left: 14px; width: calc(100% - 14px)">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="minutes">Minutely</option>
                    <option value="hourly">Hourly</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 form-group">
            <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>Import Path</label>
            <cl-folder-picker isrequired="true" formvalid="vm.validationService.pageValidations.documentImportsValid" uploadpath="vm.settings.fileDirectory"></cl-folder-picker>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-7 form-group">
            <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>Archive Path</label>
            <cl-folder-picker isrequired="true" formvalid="vm.validationService.pageValidations.documentImportsValid" uploadpath="vm.settings.archiveDirectory"></cl-folder-picker>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 form-group">
            <label class="col-md-3 control-label no-gutter"><span class="form-required" aria-hidden="true">* </span>File Extension</label>
            <div class="col-md-7 no-gutter">
                <select required
                        kendo-drop-down-list
                        class="form-control input-lg height-100"
                        ng-model="vm.settings.fileExtension"
                        style="margin-left: 14px; width: calc(100% - 14px)">
                    <option value=".txt">.txt</option>
                    <option value=".csv">.csv</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-md-5 control-label">
            <input type="checkbox" ng-model="vm.settings.useSSN"/> File Uses Student Social Security Numbers
        </label>
    </div>
    <div class="row">
        <label class="col-md-5 control-label">
            <input type="checkbox" ng-model="vm.settings.hasHeaderRow" /> File Has Header Row
        </label>
    </div>
</form>