@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<div>
    <h2>
        <b>File Definitions</b>
    </h2>
    <section>
        This step will allow you to configure definitions of file(s) that may be created as part of an event process.
        Examples include creating index files for document imaging, or for file store operations.
        File Definitions may be used multiple times. For additional information see <a href="https://campuslogicinc.freshdesk.com/" target="_blank">File Definitions help.</a>
    </section>
    <button class="btn btn-default btn-lg pull-right" ng-click="vm.addFileDefinition()">Add</button>
    <div class="row"><div class="col-md-12"><hr /></div></div>
    <div class="row">
        <div class="col-md-12">
            <div id="file-definitions-grid" kendo-grid
                 data-role="grid"
                 data-editable="false"
                 k-data-source="vm.fileDefinitionsList"
                 k-options="vm.gridOptions">
            </div>
        </div>

    </div>
</div>

<script id="file-definitions-template" type="text/x-kendo-template">
    <button class="btn btn-default" ng-click="vm.edit(dataItem)" title="Edit"><i class="fa fa-pencil"></i></button>
    <button class="btn btn-default" ng-click="vm.delete(dataItem.name)" title="Delete"><i class="fa fa-trash"></i></button>
</script>