<div ng-form name="folderPickerForm">
    <div class="row">
        <div class="col-md-7">
            <input id="folderPath" class="input-lg col-md-12" name="folderPath" ng-model="uploadpath" ng-required="isrequired" ng-blur="validateFolderPathUnique()"/>
            <div class="pull-right">
                <span class="field-validation-error" ng-show="(folderPickerForm.folderPath.$dirty && folderPickerForm.folderPath.$error.required) ||(!formvalid && (uploadpath === '' || !uploadpath))">Required</span>
                <span class="field-validation-error" ng-hide="folderPathUnique">Folder path must differ between ISIR Upload, Award Letter Upload, ISIR Batch Corrections, TDClient Archive and Document.</span>
            </div>
                <div class="padding-top-twenty pull-left">
                <button class="btn btn-default btn-lg" type="submit" name="testButton" ng-click="testReadWritePermissions()">Test</button>
                <span class="alert alert-success" role="alert" ng-show="validPath && pathValidated">Path is valid</span>
                <span class="alert alert-danger" role="alert" ng-show="!validPath && pathValidated">Invalid Path</span>
            </div>
         </div>
        <div class="col-md-1">
            <button class="btn btn-default btn-lg" ng-click="openFolderExplorer()">Select</button>
        </div>
    </div>
        <div class="padding-top-twenty">
    </div>
</div>

