@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<div class="col-md-12">
    <h2><b>Save Configurations</b></h2>
    <div class="padding-top-twenty"></div>
    <section>
        <h4> <b> Please be aware that saving the configurations settings will restart the site. Your current Web.config will be archived under <i>~\CampusLogicEvents.Web\WebArchive</i>.</b></h4>
    </section>
</div>