@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}


<div class="form-horizontal" name="storedprocedureForm">
    <h2>
        <b>Stored Procedure Setting</b>
    </h2>
    This step is for configuring custom Stored Procedures to associate to Event Notifications. You can have one or many, but if you have enabled this feature at least one Stored Procedure is required.
    If you previously used the default Stored Procedure, you will not need to configure it through this step. Two stored procedures' name should not be same. If the parameter's data type is integer, the length is unnecessary.
    For further detail on the Stored Procedure configurations section please click <a href="https://campuslogicinc.freshdesk.com/support/solutions/articles/5000706491-stored-procedures" target="_blank">Stored Procedure Help.</a>
    <hr>
    <div class="form-group">
        <div class="col-md-8">
            <label class="control-label col-md-4"><span class="form-required" aria-hidden="true">* </span> Stored Procedure Name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="model.storedProcedureName" ng-blur="storedProcedureNameChange(model)"/>
                <span ng-show="spvalidation">You cannot add two stored procedures with same name.</span>
                <div class="padding-top-twenty">
                    <button class="btn btn-default pull-right" ng-click="add()" ng-disabled="model.storedProcedureName===null">Add Stored Procedure</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="storedProcedureList.length > 0" ng-repeat="storedProcedure in storedProcedureList">
        <div class="col-md-12">
            <h3><b>Stored Procedure Name: {{storedProcedure.name}}</b> <i class="fa fa-trash-o pointer padding-left-fifteen" aria-hidden="true" ng-click="deleteStoredProcedure(storedProcedure)"></i>
            </h3>
            <p>Please note that the order of the parameters added here must match the exact order of your stored procedure(type and order identify the parameter, not name).</p>
        </div>
        <div class="col-md-12">
            <label class="control-label" id="parameterValue">Parameter values</label>
        </div>
        <div class="col-md-12 padding-bottom-ten">
            <div id="{{storedProcedure.storedProcedureGridName}}" kendo-grid
                 data-role="grid"
                 data-editable="false"
                 k-data-source="storedProcedure.parameterList"
                 k-options="gridOptions">
            </div>
            <div class="row padding-top-ten">
                <div class="col-md-12">
                    <button class="btn btn-default" ng-click="addParameter(storedProcedure)">Add</button>
                </div>
            </div>
        </div>
    </div>
    <span class="field-validation-error" ng-show="storedProcedureList.length === 0 && !pageValid">At least one Stored Procedure is required.</span>
</div>

<script id="add-parameter-collection-template" type="text/x-kendo-template">
    <button class="btn btn-default" ng-click="editParameter(storedProcedure, dataItem)"><i class="fa fa-pencil"></i></button>
    <button class="btn btn-default" ng-click="deleteParameter(storedProcedure, dataItem)"><i class="fa fa-trash"></i></button>
</script>
