@model List<CampusLogicEvents.Web.Models.ReceivedEvent>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .padtop {
        padding-top: 20px;
    }
    td {
        vertical-align:text-top;
    }
</style>

<div id="body" class="padtop">
    <section class="content-wrapper clear-fix">
        <h3>Events Received:</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>Received DT</th>
                <th>Processed DT</th>
                <th>Event Data</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td nowrap>@item.ReceivedDateTime</td>
                    <td nowrap>@item.ProcessedDateTime</td>
                    <td>@item.EventData</td>
                </tr>
            }
        </table>
    </section>
</div>