<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CampusLogic</h1>
                <br/>
                <h2>We didn't invent financial aid, we just make it awesome!</h2>
            </hgroup>
            <p>
                Please see GitHub for the latest version of the application
                <a href="https://github.com/campuslogic/CL-Connect" target="_blank" title="ASP.NET Web API Website">GitHub Application Files</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Setup CL Connect</h5>
                The wizard to set up or update your CL Connect options by
                <a class="pointer" cl-link-to="/environment">Clicking Here…</a>
            </li>
            <li class="two">
                <h5>Processing Queues</h5>
                This application has a built-in queueing system which can be seen by
                <a href="~/hangfire">Clicking Here…</a>
            </li>
            <li class="three">
                <h5>Log Records</h5>
                Internal log records are kept and can be seen by
                <a href="~/Home/Log">Clicking Here…</a>
            </li>
            <li class="four">
                <h5>Event Records</h5>
                Events received and process are captured and can be seen by
                <a href="~/Home/Events">Clicking Here…</a>
            </li>
        </ol>
    </section>
    <div class="site-footer" ng-controller="versioncontroller as vm">
        <div class="container">Version {{vm.version}}</div>
    </div>
</div>
